<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      <ion-label>
        My profile
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-icon name="logo-ionic" slot="start"></ion-icon>
        @ionicframework
      </ion-label>
    </ion-item>
  </ion-list>
  <div *ngIf="auth.user$ | async as user">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>UID: {{ user.id }}</ion-card-subtitle>
        <img [src]="user.photoURL || 'assets/icon/anon.svg'">
        <ion-card-title>{{ user.displayName || 'Mysterious User' }}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Anonymous: {{ user.isAnonymous }}<br> Email: {{ user.email || 'unknown' }}
      </ion-card-content>
    </ion-card>
    <ion-button color="light" (click)="auth.signOut()">Logout</ion-button>
  </div>
</ion-content>